.ank-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--ank-stack-gap, var(--ank-space-4));
}

.ank-stack[data-align='center'] {
  align-items: center;
}
.ank-stack[data-align='end'] {
  align-items: flex-end;
}
.ank-stack[data-align='stretch'] {
  align-items: stretch;
}

.ank-stack--divided > * + * {
  border-top: 2px solid var(--ank-ink);
  padding-top: var(--ank-stack-gap, var(--ank-space-4));
}

.ank-stack--divided {
  gap: 0;
}
