@import '@ankds/tokens/css';

:where([class^='ank-'], [class*=' ank-']),
:where([class^='ank-'], [class*=' ank-'])::before,
:where([class^='ank-'], [class*=' ank-'])::after {
  box-sizing: border-box;
}

:where([class^='ank-'], [class*=' ank-']):focus-visible {
  outline: 2px solid var(--ank-focus-ring);
  outline-offset: 2px;
}
